.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #8B7969;
    font-size: 25px;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__label--item {
    color: #8B7969;
}

.form__label--required {
    padding: 4px 0;
    border-radius: 3px;
    color: red;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input,
.form__input--textarea textarea,
.form__input--name input {
    padding: 10px;
    background-color: #f4f2f2;
    color: #8B7969;
    border: none;
    appearance: none;
    padding-left: 30px;
}

.form__input--name input {
    width: 260px;
}

.form__input--name {
    display: flex;
    justify-content: space-between;
}

.form__input--name input:first-child {
    margin-right: 30px;
}

.form__input--tell input {
    width: 153px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 10px;
    background-color: #f4f2f2;
    color: #8B7969;
    border: none;
    appearance: none;
}

.form__input--tell input:last-child {
    margin-right: 0;
}

.form__input--tell input:first-child {
    margin-left: 0;
}

.form__input--tell {
    display: flex;
    justify-content: space-between;
    color: #8B7969;
}

.form__input--text input {
    height: 40px;
    width: 550px;
}

.form__input--radio input {
    appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #8B7969;
    border-radius: 50%;
    vertical-align: -2px;
}
.form__input--radio label {
    color: #8B7969;
}

.form__input--radio {
    margin-right: 220px;
}

.form__input--radio input:checked:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #8B7969;
    content: '';
}

label {
    margin-right: 50px;
}

.form__input--select select {
    background-color: #f4f2f2;
    color: #8B7969;
    border: none;
    appearance: none;
    margin-right: 250px;
    width: 300px;
    height: 40px;
    padding-left: 30px;
}

.form__input--select::after {
    position: absolute;
    top: 47%;
    left: 49%;
    content: "";
    margin-left: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #c2b9b1;
    transform: translateY(-50%);
}

.form__group-content {
    position: relative;
}

.form__input--textarea textarea {
    height: 130px;
    width: 550px;
}

.form__button {
    margin-top: 40px;
}

.form__button-submit {
    padding: 10px;
    width: 20%;
    height: 46px;
    border: none;
    background: #8B7969;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}